<!-- start custom head snippets -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{site.baseurl}}/assets/img/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="{{site.baseurl}}/assets/img/favicons/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="{{site.baseurl}}/assets/img/favicons/favicon-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="{{site.baseurl}}/assets/img/favicons/favicon-512x512.png"
/>
<link
  rel="manifest"
  href="{{site.baseurl}}/assets/img/favicons/site.webmanifest"
/>
<link
  rel="mask-icon"
  href="{{site.baseurl}}/assets/img/favicons/favicon.svg"
  color="#5bbad5"
/>
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<!-- end custom head snippets -->
